<div class="product-item">
  <h4 class="product-item__title">{{product.name}}</h4>
  <div>
    <p>{{product.description}}</p>
    <p>{{product.dependsOn}}</p>
    <p>{{product.category}}</p>
  </div>

  <div>
    <span>Price: <b>{{product.price}}</b></span>
    <p *ngIf="product.isAvailable">Available: <b>{{product.amount}}</b></p>
    <input #productInput [(ngModel)]="product.qty" type="number" max="product.amount" min="1">
  </div>

  <div  class="product-bottom__wrapper">
    <ng-container *ngIf="product.isAvailable; then inStock; else outOfStock"></ng-container>
    <ng-template #inStock>
      <button class="product__buy" (click)="onBuy(product)">
        Buy
      </button>
    </ng-template>

    <ng-template #outOfStock>
      <span class="product__bought">
        Bought all
      </span>
    </ng-template>
  </div>
</div>
